In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
# Define column names   dataset has no headers
column_names = [
    'age',        # Age in years
    'sex',        # Sex (1 = male, 0 = female)
    'cp',         # Chest pain type (1-4)
    'trestbps',   # Resting blood pressure (mm Hg)
    'chol',       # Serum cholesterol (mg/dl)
    'fbs',        # Fasting blood sugar > 120 mg/dl (1 = true, 0 = false)
    'restecg',    # Resting ECG results (0-2)
    'thalach',    # Maximum heart rate achieved
    'exang',      # Exercise induced angina (1 = yes, 0 = no)
    'oldpeak',    # ST depression induced by exercise
    'slope',      # Slope of peak exercise ST segment (1-3)
    'ca',         # Number of major vessels colored by fluoroscopy (0-3)
    'thal',       # Thalassemia (3 = normal, 6 = fixed defect, 7 = reversible defect)
    'target'      # Diagnosis of heart disease (0-4)
]

# Load the dataset
df = pd.read_csv('../data/raw/processed.cleveland.data', 
                 names=column_names,
                 na_values='?')

print("✓ Dataset loaded successfully!")
print(f"Dataset shape: {df.shape}")

✓ Dataset loaded successfully!
Dataset shape: (303, 14)

In [3]:
# Display first 10 rows
print("First 10 rows of the dataset:")
df.head(10)

First 10 rows of the dataset:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,2
9,53.0,1.0,4.0,140.0,203.0,1.0,2.0,155.0,1.0,3.1,3.0,0.0,7.0,1

In [4]:
# Display dataset info
print("Dataset Information:")
print("="*60)
df.info()

Dataset Information:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        299 non-null    float64
 12  thal      301 non-null    float64
 13  target    303 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 33.3 KB

In [5]:
# Check data types
print("\nData Types:")
print("="*60)
print(df.dtypes)

Data Types:
============================================================
age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

In [6]:
# Statistical summary
print("\nStatistical Summary:")
print("="*60)
df.describe()

Statistical Summary:
============================================================

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000

In [7]:
# Check for missing values
print("\nMissing Values:")
print("="*60)
missing = df.isnull().sum()
print(missing[missing > 0])

print(f"\nTotal missing values: {df.isnull().sum().sum()}")

Missing Values:
============================================================
ca      4
thal    2
dtype: int64

Total missing values: 6

In [8]:
# Check target variable distribution
print("\nTarget Variable Distribution:")
print("="*60)
print(df['target'].value_counts().sort_index())

# Convert target to binary (0 = no disease, 1 = disease)
df['target'] = df['target'].apply(lambda x: 1 if x > 0 else 0)

print("\nTarget Variable (Binary):")
print(df['target'].value_counts())
print(f"\nDisease prevalence: {df['target'].mean()*100:.2f}%")

Target Variable Distribution:
============================================================
target
0    164
1     55
2     36
3     35
4     13
Name: count, dtype: int64

Target Variable (Binary):
target
0    164
1    139
Name: count, dtype: int64

Disease prevalence: 45.87%

In [9]:
# Print dataset explanation
print("\n" + "="*70)
print("HEART DISEASE DATASET - OVERVIEW")
print("="*70)

print("""
Dataset: UCI Heart Disease (Cleveland)
Source: UCI Machine Learning Repository
Records: 303 patients
Features: 14 attributes

Feature Descriptions:
--------------------
1. age       : Age in years
2. sex       : Sex (1 = male, 0 = female)
3. cp        : Chest pain type
               - Value 1: typical angina
               - Value 2: atypical angina
               - Value 3: non-anginal pain
               - Value 4: asymptomatic
4. trestbps  : Resting blood pressure (mm Hg)
5. chol      : Serum cholesterol (mg/dl)
6. fbs       : Fasting blood sugar > 120 mg/dl (1 = true, 0 = false)
7. restecg   : Resting electrocardiographic results
               - Value 0: normal
               - Value 1: ST-T wave abnormality
               - Value 2: left ventricular hypertrophy
8. thalach   : Maximum heart rate achieved
9. exang     : Exercise induced angina (1 = yes, 0 = no)
10. oldpeak  : ST depression induced by exercise relative to rest
11. slope    : Slope of the peak exercise ST segment
               - Value 1: upsloping
               - Value 2: flat
               - Value 3: downsloping
12. ca       : Number of major vessels (0-3) colored by fluoroscopy
13. thal     : Thalassemia
               - 3 = normal
               - 6 = fixed defect
               - 7 = reversible defect
14. target   : Diagnosis of heart disease
               - 0 = No disease
               - 1 = Disease present

Objective:
----------
Predict the presence of heart disease based on medical attributes.
This is a binary classification problem.
""")

======================================================================
HEART DISEASE DATASET - OVERVIEW
======================================================================

Dataset: UCI Heart Disease (Cleveland)
Source: UCI Machine Learning Repository
Records: 303 patients
Features: 14 attributes

Feature Descriptions:
--------------------
1. age       : Age in years
2. sex       : Sex (1 = male, 0 = female)
3. cp        : Chest pain type
               - Value 1: typical angina
               - Value 2: atypical angina
               - Value 3: non-anginal pain
               - Value 4: asymptomatic
4. trestbps  : Resting blood pressure (mm Hg)
5. chol      : Serum cholesterol (mg/dl)
6. fbs       : Fasting blood sugar > 120 mg/dl (1 = true, 0 = false)
7. restecg   : Resting electrocardiographic results
               - Value 0: normal
               - Value 1: ST-T wave abnormality
               - Value 2: left ventricular hypertrophy
8. thalach   : Maximum heart rate achieved
9. exang     : Exercise induced angina (1 = yes, 0 = no)
10. oldpeak  : ST depression induced by exercise relative to rest
11. slope    : Slope of the peak exercise ST segment
               - Value 1: upsloping
               - Value 2: flat
               - Value 3: downsloping
12. ca       : Number of major vessels (0-3) colored by fluoroscopy
13. thal     : Thalassemia
               - 3 = normal
               - 6 = fixed defect
               - 7 = reversible defect
14. target   : Diagnosis of heart disease
               - 0 = No disease
               - 1 = Disease present

Objective:
----------
Predict the presence of heart disease based on medical attributes.
This is a binary classification problem.

In [10]:
# Save the dataset shape and basic info for documentation
print("\n" + "="*70)
print("SUMMARY FOR REPORT")
print("="*70)
print(f"Total Records: {df.shape[0]}")
print(f"Total Features: {df.shape[1]}")
print(f"Missing Values: {df.isnull().sum().sum()}")
print(f"Target Classes: {df['target'].nunique()}")
print(f"Disease Cases: {df['target'].sum()} ({df['target'].mean()*100:.2f}%)")
print(f"Healthy Cases: {(df['target']==0).sum()} ({(df['target']==0).mean()*100:.2f}%)")

======================================================================
SUMMARY FOR REPORT
======================================================================
Total Records: 303
Total Features: 14
Missing Values: 6
Target Classes: 2
Disease Cases: 139 (45.87%)
Healthy Cases: 164 (54.13%)